#nav{
    width: 100%;
    /* position: fixed; */
    border: none;
    
}

#one{
    display: flex;
    font-size: 15px;
    background-color: rgb(247, 247, 247);
    /* align-items: flex-start; */

}
#flag{
    height: 20px;
    border-radius: 100%;
    /* border: 1px solid red; */
    margin-top: 8px;
}
#one>p{
    font-size: 15px;
    margin: 10px;
}



#two{
    display: flex;
    /* width: 100%; */
    justify-content: space-evenly;
    /* border: 1px solid green; */
    padding-top: 15px;
    padding-bottom: 15px;
    /* margin: auto; */
}
#logo>img{
    height: 40px;
    width: auto;
    margin-left: -20px;
}
#two>div:nth-child(1){
    width: 10%;
    /* border: 1px solid red; */
}
#two>div:nth-child(2){

    width: 60%;
}
#two>div>input{
    width: 100%;
    /* padding: 10px; */
}

#two>div:nth-child(3){
    width: auto;
    display: flex;
}
#two-img img{
    height: 30px;
    margin: 10px;
}
#gotopayment{
    cursor: pointer;
}



#three{
    width: auto;
    font-size: 16px;
    margin: 0px;
    /* font-weight: bold; */
    border: 1px solid rgb(199, 197, 197);
    /* background-color: rgb(235, 234, 234); */
    /* padding: 5px; */
    display: flex;
    justify-content: space-between;
}
#three>a{
    /* margin: 10px; */
    padding: 8px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#three>a:hover{
    border-bottom: 2px solid black;
}
#three>a:nth-last-child(1){
    color: rgb(207, 77, 77);
}




/* main body */

#front{
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
}
#first>img{
    width: 100%;
    height: 100%;
    margin: auto;
}


#first{
    background-image: url('https://ak1.ostkcdn.com/img/mxc/04292022-HP-A1-INTL-1400x550.jpg');
    background-size:cover;
    width: 100%;
}



/* second */


#second{
    /* border: 1px solid turquoise; */
    padding: 30px;
}
#secbox{
    /* border: 1px solid rgb(127, 214, 105); */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
    /* width: 100%; */
    margin: auto;
    text-align: center;
    height: auto;
}
#secbox p{
    font-family: Arial, Helvetica, sans-serif;

font-weight: bold;}
#secbox img{
    width: 100%;
    /* height: 100%; */
    background-color: rgb(250, 250, 250);
}

#head>h1{
    text-align: center;
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}


/* third */


#third{
    background-image: url("https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1400&q=80");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    opacity: 90%;
}



/* fourth */
#fourth{
    /* border: 1px solid yellow; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#fourthbox{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    height: auto;
}

#fourthbox img{
    width: 100%;
}


/* fifth */

#fifth{
    text-align: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#fifth h1{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#fifthbox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    /* justify-content: center; */
    height: 100%;
}

#fifthbox>div{
    align-items: stretch;
    height: auto;
    flex-wrap: wrap;
}

#fifthbox img{
    width: 100%;
}

#fifthbox img+div{
    text-align: center;
    padding: 10px;
    /* border: 1px solid black; */
    background-color: rgb(243, 243, 243);
    margin-top: -20px;
    font-size: 18px;
}
#fifth p,h3{
    text-align: left;
}


/* sixth */

#sixth{
    background-image: url("https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 88%;
}



/* seven */
#seven{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#seven h1{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#sevenbox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(2,auto); */
    gap: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    height: auto;
}
#seven img{
    width: 100%;
}

#seven img+div{
    text-align: center;
    padding: 5px;
    /* border: 1px solid black; */
    background-color: rgb(243, 243, 243);
    margin-top: -20px;
    font-size: 18px;
}

/* btn */
#btn{
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    display: block;
    margin: auto;
    padding: 10px 30px;
    color: white;
    background-color: black;
    border: none;
    font-size: 18px;
    border-radius: 5px;
}

/* eight */

#eight{
    text-align: center;
}

#eightbox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
    /* row-gap: -20px; */
    gap: 20px;
}
#eightbox>div{
    margin: none;
}

#eightbox>div>h3{
    background-color: rgb(237, 237, 237);
    padding: 15px 30px 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
}



/* footer one  */
#footerone{
    background-color: #444;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-size: small;
    border: none;

}
#footerone h3{
    color: white;
    text-align:left;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#footerone p{
    color: white;
    /* margin: auto; */
    text-align:left;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#footerone>div{
    margin-top: 50px;
    margin-bottom: 50px;
}





/* footer two */
#footertwo{
    display: flex;
    justify-content: space-between;
    background-color: rgb(44, 43, 43);
    padding: 30px;
    color: white;

    /* width: 100%; */
    border: none;
}

#last{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}



img,p{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}